build
node_modules
.svelte-kit/
.turbo/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/dist
**/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src-tauri/icons

mise.toml
